html{
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none !important;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'YEONGJUPunggiGinsengTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font_set{
    font-family: 'KOTRAHOPE';
}
.blog_bar_font{
    font-family: 'SOYOMapleBoldTTF';
}
.blog_main_font {
            transition: font-family 2s; /* 폰트 전환에 2초 애니메이션 적용 */
        }
.image-container {
    width: 100%; /* 원하는 div의 너비 */
    height: auto;
    overflow: hidden;
    position: relative;
}

.image-container img {
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞게 설정 */
      max-height: 100%;
}

.degree{
    transform: rotate(270deg);
    writing-mode: vertical-lr;
    line-height: 1; /* 텍스트 세로 간격 조정 */
    letter-spacing: 0; /* 텍스트 가로 간격 조정 */
}
/* 드롭다운 서브메뉴 스타일 */
.menu ul li .submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 180px;
    left: 35%;
    transform: translateX(-50%);
    background-color:#f7d8ad;
    border: 1px solid #ccc;
    border-radius: 10px;

    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.submenu a {
    color: #222222;
    font-size: 20px;
    font-family: 'KOTRAHOPE';
}

.menu ul li:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.menu ul li .submenu li {
    display: block;
    margin: 5px 0; }/* 각 항목 간의 간격을 설정합니다. */

.submenu li a {
     display: block;
    text-align: center}/* 각 항목 간의 간격을 설정합니다. */

/* 기본 메뉴 스타일 */
.menu ul li {
    display: inline-block;
    position: relative;
    transition: opacity 0.3s ease;
}

.menu ul li:hover {
    opacity: 1;
}

.bar_font{
    font-weight: bold;
}

.page3_box{
    border-radius: 20px;
    background-color: white;
    width: 180px;
    height: 180px
}

.pg3_font{
    font-weight: bold;
    color: black;
    font-family: 'KOTRAHOPE';
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
    background : none;
}
/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55,.5,0.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media(max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}
.blog_index {
    border: #f7d8ad solid 2px;
    width: 900px;
    border-radius: 20px;
    font-family: 'SOYOMapleBoldTTF';
}

.blog_index_box:not(:last-child){
    border-bottom: #f7d8ad solid 1px;
}
.blog_index_box{
    display: flex;
    justify-content: space-between;
}

.blog_index_font{
    margin: 10px;
    margin-left: 30px;
    color: #494949;
    display: flex;
    font-weight: normal
}
.blog_shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.blog_subtitle{
    font-size: 25px;
    font-family: 'SOYOMapleBoldTTF';
    margin-bottom: 20px;
}
.blog_index_hover{
    font-size: 20px;
}
.blog_index_hover:hover{
    color: black;
}

.moving-div {
      width: 50px;
      height: 50px;
      position: absolute;
      transition: top 1s ease-in-out, opacity 0.5s ease-in-out;
    }

    .moved {
      animation: moveDown 1s ease-in-out forwards, fadeOut 0.5s ease-in-out 1s forwards;
    }

    @keyframes moveDown {
      0% {
        top: 0;
      }
      100% {
        top: 50px;
      }
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

.moving-box{
    bottom: 100px;
    width: 55px;
    position: absolute;
    height: 105px;
    border: #F4F6FC 3px solid;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
}

body::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}