<!DOCTYPE html>
<html lang="en">
{% extends "blog/blog_base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/blog/blog_post_style.css' %}" />
</head>
<body>
<div class="container2" style="margin-top: 40px; margin-bottom: 40px">
    <span class="span_font" style="font-weight: bold; font-size: 50px; color: #27AE60;">Write a post.</span>

</div>
<form action="{% url 'main:blog_list_crud' cate=cate %}" method="POST" enctype="multipart/form-data" class="container2">
        {% csrf_token %}
    <div>
    <div style="margin-bottom: 40px;">
        <label for="title" class="span_font crud_label">Title</label>
        <input class="title span_font" style="margin-top: 10px" type="text" id="title" name="title"
                    value="{{ form.title.value|default_if_none:'' }}"></div>
    <div style="display: block; margin-bottom: 40px" >
        <div style="margin-bottom: 10px;">
        <label for="sub_title" class="span_font" style="font-size: 20px; font-weight: bold">Sub Content</label></div>
    <textarea class="codepen" id="sub_title" name="sub_title">{{ form.sub_title.value|default_if_none:'' }}</textarea></div>
        <div><input id="fileInput" name="img" type="file"></div>
        <div class="imagePreview">
         <div id="imagePreview"></div></div>
        <div class="container2" style="margin-top: 20px">
            <div class="crud_button container2">
        <button type="submit">MAKE</button></div></div>
</div>
</form>
</body>
    <script type="text/javascript" src="{% static "js/blog/image_set.js" %}"></script>
{% endblock %}
</html>