<!DOCTYPE html>
<html lang="en">
{% extends "blog/blog_base.html" %}
{% load static %}
{% block content %}
<head>
<style>
</style>
    <meta charset="UTF-8">
    <title>DoDay!blog</title>
<style>
    .menu :where(li ul){
        padding-left: 0 !important;
    }
</style>
    <link rel="stylesheet" href="{% static 'css/main_font.css' %}" />
<script defer src="{% static 'js/blog/blog_main.js' %}"></script>
<script defer src="{% static 'js/main_font.js' %}"></script>
</head>
<body>
<div class="box">
<div style="position: absolute; z-index: -1;" class="image-container">
    <img src="{% static 'img/blog_image_set.png' %}"></div>
<div class="container_y" style="height: 60px; padding-top: 100px ">
    <a href="{% url 'main:blog' %}">
    <div style="margin-left: 20px; margin-top: 50px">
        <img style="height: 300px; opacity: 1; max-width: none" src="{% static 'img/DoDay5.png'%}">
    </div></a>
    {% include "blog/blog_bar.html" %}
</div>
<div style="height: 150px"></div>
<div class="container" style="font-size: 30px">
    <p>Coding is <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
  </div>

    <div class="moving-box">
        <div class="moving-div">
        <img width="100px" src="{% static "img/main_arrow.png" %}"></div>
    </div>
</div>
    <div class="box">
<div style="position: absolute; z-index: -1;" class="image-container">
    <img src="{% static 'img/blog_page22.png' %}"></div>
<div class="container2">
        <div style="width: 1000px; margin-top: 20px; margin-bottom: 20px; padding-left: 10px; display: flex">
            <div>
            <span class="span_font" style="color: #f7ca8d; font-weight: bold; font-size: 30pt"> 📚Recent post</span>
            <span class="span_font" style="color: gray; font-size: 15px">따끈따근 하게 올라온 최신 포스팅을 구경해보세요 !</span>
            </div>
        </div></div>
<div class="container2">
        {% include "page_3.html" %}
    </div>
    </div>
<div class="box">
<div style="position: absolute; z-index: -1;" class="image-container">
    <img src="{% static 'img/check.png' %}"></div>
    <div class="container2" style="padding-top: 50px">
        <span class="span_font" style="color: #f7ca8d; font-weight: bold; font-size: 30pt; margin-right: 20px"> 📚Popular Categories</span>
            <span class="span_font" style="color: gray; font-size: 15px; padding-top: 10px">잘 정리된 다양한 카테고리를 둘러보세요 !</span></div>
    <div class="container2" style="margin-top: 100px">
        <div>
        <div class="container2" style="width: 1000px; top: 50%; justify-content: space-around">
            <a href="#">
            <div class="page3_box blog_set1 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/django.png' %}"></div>
                <div class="container2"><span class="pg3_font">Django</span></div></div>
            </div></a>
            <a href="#">
            <div class="page3_box blog_set1 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/spring.png' %}"></div>
                <div class="container2"><span class="pg3_font">Spring</span></div></div>
            </div></a>
            <a href="#">
            <div class="page3_box blog_set1 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/aws.png' %}"></div>
                <div class="container2"><span class="pg3_font">Server</span></div></div>
            </div></a>
            <a href="{% url 'main:blog_list' %}">
            <div class="page3_box blog_set1 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/html.png' %}"></div>
                <div class="container2"><span class="pg3_font">Html</span></div></div>
            </div></a>
        </div>
            <div class="container2" style="margin-top: 70px; width: 1000px; top: 50%; justify-content: space-around">
            <a href="#">
            <div class="page3_box blog_set2 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/git.png' %}"></div>
                <div class="container2"><span class="pg3_font">Git</span></div></div>
            </div></a>
            <a href="#">
            <div class="page3_box blog_set2 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/css.png' %}"></div>
                <div class="container2"><span class="pg3_font">CSS</span></div></div>
            </div></a>
            <a href="#">
            <div class="page3_box blog_set2 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/javascript.png' %}"></div>
                <div class="container2"><span class="pg3_font">JavaScript</span></div></div>
            </div></a>
            <a href="#">
            <div class="page3_box blog_set2 hover-shadow container2">
                <div>
                    <div class="container2">
                <img style="height: 50%; width: 50%" src="{% static 'img/beginner.png' %}"></div>
                <div class="container2"><span class="pg3_font">Beginner</span></div></div>
            </div></a>
        </div>
            </div>
    </div>
</div>
</body>
{%  endblock %}
</html>