<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <title></title>
</head>
<body>
<div class="container_y menu" style="justify-content: space-around; background-color: rgb(0,0,0,0.3); width: 1000px; border-radius: 40px; height: 60px;">
    <ul style="display: flex;
    justify-content: space-around;width: 100%">
            <li><a href="#"><span class="blog_bar_font container2" style="color: #f7ca8d; font-size: 25px; opacity: 0.7">Stack
        <span style="font-size: 20px" class="degree">◀</span></span></a>
                <ul class="submenu">
                    <li><a class="bar_font" href="#">Django</a></li>
                    <li><a class="bar_font" href="#">Spring</a></li>
                    <li><a class="bar_font" href="#">Server</a></li>
                </ul>
            </li>
            <li><a href="#"><span class="blog_bar_font container2" style="color: #f7ca8d; font-size: 25px; opacity: 0.7">lenguge
        <span style="font-size: 20px" class="degree">◀</span></span></a>
                <ul class="submenu">
                    <li><a class="bar_font" href="#">Python</a></li>
                    <li><a class="bar_font" href="#">Java</a></li>
                </ul>
            </li>
            <li><a href="#"><span class="blog_bar_font container2" style="color: #f7ca8d; font-size: 25px; opacity: 0.7">CSS
    <span style="font-size: 20px" class="degree">◀</span></span></a>
                <ul class="submenu">
                    <li><a class="bar_font" href="#">DS</a></li>
                </ul>
            </li>
        <li><a href="#"><span class="blog_bar_font container2" style="color: #f7ca8d; font-size: 25px; opacity: 0.7">Basic
    <span style="font-size: 20px" class="degree">◀</span></span></a>
                <ul class="submenu">
                    <li><a class="bar_font" href="#">Django Beginner</a></li>
                </ul>
            </li>
        </ul></div>
{% endblock %}
</body>
</html>