<!DOCTYPE html>
<html lang="en">
{% extends "blog/blog_base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>메인 카테고리</title>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/blog/blog_post_style.css' %}" />
<link rel="stylesheet" href="{% static 'css/blog/mypage.css' %}" />
</head>
<body>
<div class="container2" style="margin-top: 40px; margin-bottom: 40px">
    <span class="span_font" style="font-weight: bold; font-size: 50px; color: #27AE60;">Admin Page.</span>

</div>
<div class="container_x">
    <div class="container_x" style="width: 200px">
        <div>
        <div class="mypage_title container2">
            <span style="margin-right: 5px" class="span_font mypage_font">Stack</span>
            <a href="{% url 'main:main_category_make' cate="Stack" %}"><img style="height: 17px;" src="{% static 'img/yellow_plus.png'%}"></a> </div>
        <div class="container2" style="margin-top: 20px">
            <div>
                {% for stack in stack %}
            <div class="span_font mypage_font container_x">
                <a style="margin-right: 5px" href="{% url 'main:blog_list' cate=stack %}">{{ stack.category_name }}</a>
                <div class="container_y">
            <a href="{% url 'main:blog_list_crud' cate=stack.category_name %}">
                <img style="height: 17px;" src="{% static 'img/green_plus.png'%}"></a></div>
            </div>
            {% endfor %}
                </div>
        </div>
        </div>
    </div>
    <div class="container_x" style="width: 200px">
        <div>
        <div class="mypage_title container2">
            <span style="margin-right: 5px" class="span_font mypage_font">Lenguge</span>
            <img style="height: 17px;" src="{% static 'img/yellow_plus.png'%}"> </div>
        <div class="container2" style="margin-top: 20px">
            <div>
                {% for lenguge in lenguge %}
            <div class="span_font mypage_font container_x">
                <a style="margin-right: 5px" href="{% url 'main:blog_list' cate=lenguge %}">{{ lenguge.category_name }}</a>
            <div class="container_y">
            <a href="{% url 'main:blog_list_crud' cate=lenguge.category_name %}">
                <img style="height: 17px;" src="{% static 'img/green_plus.png'%}"></a></div>
            </div>
            </div>
            {% endfor %}
                </div>
        </div>
        </div>
    </div>
    <div class="container_x" style="width: 200px">
        <div>
        <div class="mypage_title container2">
            <span style="margin-right: 5px" class="span_font mypage_font">CSS</span>
            <img style="height: 17px;" src="{% static 'img/yellow_plus.png'%}"> </div>
        <div class="container2" style="margin-top: 20px">
            <div>
                {% for css in css %}
            <div class="span_font mypage_font container_x">
                <a style="margin-right: 5px" href="{% url 'main:blog_list' cate=css %}">{{ css.category_name }}</a>
            <div class="container_y">
            <a href="{% url 'main:blog_list_crud' cate=css.category_name %}">
                <img style="height: 17px;" src="{% static 'img/green_plus.png'%}"></a></div>
            </div>
            {% endfor %}
                </div>
        </div>
        </div>
    </div>
    <div class="container_x" style="width: 200px">
        <div>
        <div class="mypage_title container2">
            <span style="margin-right: 5px" class="span_font mypage_font">Basic</span>
            <img style="height: 17px;" src="{% static 'img/yellow_plus.png'%}"> </div>
        <div class="container2" style="margin-top: 20px">
            <div class="container2">
                {% for basic in basic %}
            <div class="span_font mypage_font container_x">
                <a style="margin-right: 5px" href="{% url 'main:blog_list' cate=basic %}">{{ basic.category_name }}</a>
            <div class="container_y">
            <a href="{% url 'main:blog_list_crud' cate=basic.category_name %}">
                <img style="height: 17px;" src="{% static 'img/green_plus.png'%}"></a></div>
            </div>
            {% endfor %}
                </div>
        </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>