<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
{% endblock %}
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/set.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    <link rel="stylesheet" href="{% static 'css/page_3.css' %}" />
	<script defer src="{% static 'js/ie.js' %}"></script>
    <script defer src="{% static 'js/main_font.js' %}"></script>
	<script defer src="{% static 'js/test.js' %}"></script>
    <script defer src="{% static 'js/page_2.js' %}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
    <script>history.scrollRestoration="manual"</script>
</head>
<body>

</body>
</html>