<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}

<body>
<div style="height: 500px; text-align: center; padding-top: 50px">
    <div class="container2">
    <div class="en_font">
        <span style="font-size: 80px; margin-right: 50px">Do</span></div>
    <div class="en_font2">
        <span style="font-size: 80px;">Day</span></div></div>
</div>
<div class="doit">
<section style="text-align: center">
		<article class="sky">
			<img src="{% static 'img/sun.png' %}" class="sun" />
			<img src="{% static 'img/cloud1.png' %}" class="cloud1" />
			<img src="{% static 'img/cloud2.png' %}" class="cloud2" />
		</article>

		<article class="town">
			<img src="{% static 'img/circle.png' %}" class="circle" />
			<img src="{% static 'img/town_night.png' %}" class="night" />
			<img src="{% static 'img/town_day.png' %}" class="day" />
		</article>

		<article class="people">
			<img src="{% static 'img/man.png' %}" class="man" />
			<img src="{% static 'img/family.png' %}" class="family" />
		</article>
	</section></div>
<div>
<section class='section' style="height: 200px">
    <div class='masthead-image' id='master-container'>
        <div class='content center'>
            <h1 id='master'>
              <div id='master-container-scroller' style="text-align: center">
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Python</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Django</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Docker</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Spring</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Html</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>JS</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Java</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>CSS</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>안녕</a>.
                </div>
                <div class='master-container-scroller_item'>반가워</div>
              </div>
              <div>Welcome to my blog.</div>
            </h1>
        </div>
    </div>
</section>
    </div>
</body>
{% endblock %}
</html>