<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Do Day</title>
</head>
<body class="bar_mark">
{% include "main_bar.html" %}
        <div class="box main_font">
<div style="height: 500px; text-align: center; padding-top: 50px">
    <div class="container2">
    <div class="en_font">
        <span style="font-size: 80px; margin-right: 50px">Do</span></div>
    <div class="en_font2">
        <span style="font-size: 80px;">Day</span></div></div>
</div>
<div class="doit">
<section style="text-align: center">
		<article class="sky">
			<img src="{% static 'img/sun.png' %}" class="sun" />
			<img src="{% static 'img/cloud1.png' %}" class="cloud1" />
			<img src="{% static 'img/cloud2.png' %}" class="cloud2" />
		</article>

		<article class="town">
			<img src="{% static 'img/circle.png' %}" class="circle" />
			<img src="{% static 'img/town_night.png' %}" class="night" />
			<img src="{% static 'img/town_day.png' %}" class="day" />
		</article>

		<article class="people">
			<img src="{% static 'img/man.png' %}" class="man" />
			<img src="{% static 'img/family.png' %}" class="family" />
		</article>
	</section></div>
<div>
<section class='section' style="height: 200px">
    <div class='masthead-image' id='master-container'>
        <div class='content center'>
            <h1 id='master'>
              <div id='master-container-scroller' style="text-align: center">
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Python</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Django</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Docker</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Spring</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Html</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>JS</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>Java</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>CSS</a>.
                </div>
                <div class='master-container-scroller_item'>
                  <a class='cta-link' href='#'>안녕</a>.
                </div>
                <div class='master-container-scroller_item'>반가워</div>
              </div>
              <div>Welcome to my blog.</div>
            </h1>
        </div>
    </div>
</section>
    </div>
            </div>
<div class="box">
    <main>
        <header>
            <div style="padding-bottom: 30px; margin-left: 10px">
            <h1>
                <i class="fab fa-firstdraft"></i>
                <span style="font-weight: bold; font-size: 45px">Portfolio</span>
            </h1>
                </div>

            <address>
                2023 DoDay<br>ALL RIGHT RESERVED.
            </address>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="speed">
            <article>
                <div class="inner">
                    <div class="txt">
                        <h2>01</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <figure>
                        <video src="vids/vid1.mp4" muted loop></video>
                    </figure>
                </div>
            </article>

            <article>
                <div class="inner">
                    <div class="txt">
                        <h2>02</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <figure>
                        <video src="vids/vid2.mp4" muted loop></video>
                    </figure>
                </div>
            </article>

            <article>
                <div class="inner">
                    <div class="txt">
                        <h2>03</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <figure>
                        <video src="vids/vid3.mp4" muted loop></video>
                    </figure>
                </div>
            </article>

            <article>
                <div class="inner">
                    <div class="txt">
                        <h2>04</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <figure>
                        <video src="vids/vid4.mp4" muted loop></video>
                    </figure>
                </div>
            </article>
        </section>

        <aside>
            <div class="txt">
                <h1>01</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <span>CLOSE</span>
            </div>
            <figure>
                <video src="vids/vid1.mp4" loop muted ></video>
            </figure>
        </aside>
    </main>
</div>
    <div class="box container2">
        <div class="container2" style="width: 1000px; height: 600px;">
        <div style="width: 475px; height: 600px; border: #3a3a3a solid 2px; border-radius: 50px">
            <div style="height: 250px; position: relative; overflow: hidden">
                <img style="border-radius: 50px 50px 0 0" src="{% static 'img/bono.jpg' %}"></div>
            <div class="container2">
            <div style="margin-top: 30px; width: 400px; height: 250px; color: black">
                글 작성
            </div></div>
            <div style="display: flex;">
                <div class="container2" style="border: gray solid 0.5px; border-radius: 5px;
                 margin-left: 50px; padding: 10px 10px 3px 10px">
                <div style="margin-right: 8px;"><img style="height: 25px;" src="{% static 'img/comment.png' %}"></div>
                <span style="color: gray; font-weight: normal; font-size: 15px; margin-bottom: 10px">42</span></div>
            </div>

        </div>
            <div style="display: flex; flex-direction: column; width: 475px; height: 600px; margin-left: 50px;">
                <div style="width: 475px; height: 175px; margin-bottom: 35px; border: #3a3a3a solid 2px;  border-radius: 30px"></div>
                <div style="width: 475px; height: 175px; margin-bottom: 35px; border: #3a3a3a solid 2px;  border-radius: 30px"></div>
                <div style="width: 475px; height: 175px; border: #3a3a3a solid 2px;  border-radius: 30px"></div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>