<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <title></title>
</head>
<body>
<aside class="side-bar" style="z-index: 10;">
    <div style="position: absolute; z-index: -1">
        <img style="border-radius: 0 20px 0 20px" src="{% static 'img/blue.png' %}"></div>
  <section class="side-bar__icon-box">
    <section class="side-bar__icon-1" style="padding-top: 20px">
        <div style="text-align: center; margin-left: 75px; height: 160px; width: 130px;">
            <img style="height: 130px; width: 130px; border-radius: 10px; border: black solid 1px" src="{% static 'img/bono.jpg' %}">
        <span style="color:black; font-size: 20px; margin-top: 5px; font-weight: bold">Jong99_21</span></div>
      <div style="margin-left:40px; margin-top: 10px; margin-bottom: 30px">
          <div class="shadow container2" style="background-color: white; height: 55px; width: 200px; border-radius: 30px">
              <img style="height: 30px; margin-right: 30px" src="{% static 'img/home.png' %}">
              <img style="height: 30px;" src="{% static 'img/plus.png' %}">
          </div>
      </div>
      <div></div>
    </section>
  </section>
  <ul>
    <li class="none_text_decoration">
      <a href="#">
          <img style="width: 30px; margin-right: 10px" src="{% static 'img/django.png' %}">
          Django</a>
    </li>
    <li class="none_text_decoration">
      <a href="#"><img class="bar_font" style="width: 30px; margin-right: 10px" src="{% static 'img/spring.png' %}">Spring</a>

    </li>
    <li class="none_text_decoration">
      <a href="#"><img style="width: 30px; margin-right: 10px" src="{% static 'img/aws.png' %}">Server</a>

    </li>
    <li class="none_text_decoration">
      <a href="#"><img style="width: 30px; margin-right: 10px" src="{% static 'img/html.png' %}">Html/Css/JS</a>
    </li>
  </ul>
    <div style="margin-top: 30px; margin-right: 20px" class="container2">
        <img style="width: 20px; margin-right: 7px" src="{% static 'img/git.png' %}">
        <span style="color: gray">
            wchorong</span></div>
</aside>
{% endblock %}
</body>
</html>