<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <title></title>
</head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
        .text-container {
            width: 200px; /* 원하는 가로 너비로 설정하세요 */
            height: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }

        .text {
            white-space: pre-line;
        }
    </style>
</head>

<body>
    <div class="text-container">
        <div class="text">
            길게 늘어진 텍스트가 이 곳에 들어갑니다. 길게 늘어진 텍스트가 이 곳에 들어갑니다.
        </div>
    </div>
</body>

</html>






</body>

{% endblock %}
</html>